.our-price {
  padding: 100px 50px 0;
}

@media (max-width: 768px) {
  .our-price {
    padding: 100px 15px 0;
  }
}

.price-list {
  display: grid;
  row-gap: 50px;
}

@media (max-width: 425px) {
  .price-list {
    row-gap: 20px;
  }
}

.price-item {
  display: flex;
  gap: 15px 30px;
  align-items: center;
  background: var(--gray-block);
  border-radius: 20px;
  padding: 35px 20px;
  box-shadow: 0 5px 10px var(--box-shadow);
  transition: .3s;
}

@media (max-width: 1200px) {
  .price-item {
    flex-wrap: wrap;
    padding: 20px;
  }
}

.price-works {
  max-width: 256px;
  width: 100%;
  height: 100px;
  background: var(--purple-to-yellow-color);
  border-radius: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white-to-black-color);
  box-shadow: inset 0 0 5px 2px var(--box-shadow);
  padding: 0 15px;
  margin: 0;
  transition: .3s;
}

@media (max-width: 1200px) {
  .price-works {
    max-width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 425px) {
  .price-works {
    font-size: 20px;
  }
}

.price-block {
  max-width: 170px;
  width: 100%;
  text-align: center;
  color: var(--text-color);
  transition: .3s;
}

@media (max-width: 810px) {
  .price-block {
    max-width: 100%;
  }
}

.price-coast {
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  margin: 0;
}

.price-working-time {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.price-about-works {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: var(--text-color);
  transition: .3s;
}

@media (max-width: 1200px) {
  .price-about-works {
    flex-basis: 70%;
  }
}

@media (max-width: 810px) {
  .price-about-works {
    flex-basis: 100%;
    text-align: center;
    font-size: 16px;
  }
}