.scroll-up {
  display: none;
  background: var(--yellow-color);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 50px;
  text-align: center;
  transition: 0.5s;
  padding: 0;
  z-index: 100;
}

@media (max-width:425px) {
  .scroll-up {
    right: 30px;
    bottom: 30px
  }
}

.scroll-up_visible {
  display: block;
}

.scroll-up_visible:hover {
  background: rgba(251, 178, 44, 0.8);
  -webkit-box-shadow: 0 0 10px 0 var(--purple-color);
  box-shadow: 0 0 10px 0 var(--purple-color);
}

.scroll-up_visible span {
  width: 25px;
  height: 4px;
  background: var(--purple-color);
  position: absolute;
  top: 42%;
}

.scroll-up_visible span:first-child {
  transform: rotate(-45deg);
  left: 5px;
}

.scroll-up_visible span:last-child {
  transform: rotate(45deg);
  right: 5px;
}