.form-contacts {
  min-height: 25px;
  border: none;
  padding: 10px;
  font-size: 14px;
  outline: none;
  background-color: var(--body_background-color);
  box-shadow: inset 0 0 10px var(--box-shadow);
  color: var(--text-color);
  line-height: 1;
  transition: .3s;
}

::-webkit-input-placeholder {
  color: var(--placeholder-text-color);
  font-size: 12px;
  transition: .3s;
}

::-moz-placeholder {
  color: var(--placeholder-text-color);
  font-size: 12px;
  transition: .3s;
}

:-ms-input-placeholder {
  color: var(--placeholder-text-color);
  font-size: 12px;
  transition: .3s;
}

::-ms-input-placeholder {
  color: var(--placeholder-text-color);
  font-size: 12px;
  transition: .3s;
}

::placeholder {
  color: var(--placeholder-text-color);
  font-size: 12px;
  transition: .3s;
}

.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-error {
  display: block;
  color: #ff4747;
  height: 20px;
  font-size: 14px;
}

.send-text {
  min-height: 118px;
  font-size: 14px;
  border: none;
  padding: 10px;
  resize: none;
  background-color: var(--body_background-color);
  box-shadow: inset 0 0 10px var(--box-shadow);
  color: var(--text-color);
  transition: .3s;
}

.send-text:focus {
  outline: none;
}

.form-btn {
  position: relative;
  min-width: 140px;
  min-height: 50px;
  background: var(--purple-color);
  color: #fff;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  line-height: 23px;
  transition: 0.5s;
}

.form-btn:hover {
  background: #333333;
}

@media (max-width: 1024px) {
  .form-btn {
    line-height: 13px;
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .form-btn {
    width: 100%;
  }
}