.theme-mode {
  max-width: 60px;
  width: 100%;
  height: 30px;
}

.switch-label {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s linear;
  box-shadow: inset 0px 2px 5px rgba(0,0,0,0.3), inset 0px -2px 3px rgba(255,255,255,0.6);
  margin: 0;
}

.switch-label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translate(0, -50%);
  width: 25px;
  height: 25px;
  background: linear-gradient(180deg, var(--yellow-color), #d8860b);
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  transition: .1s linear;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  background-color: #242424;
}

.switch-input:checked + .switch-label::after {
  left: calc(100% - 2px);
  transform: translate(-100%, -50%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.switch-label:active::after {
  width: 60%;
}

.switch-label svg {
  position: absolute;
  width: 25px;
  height: auto;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;
}

.switch-label svg.sun-icon {
  left: 2px;
  fill: #fff;
  transition: .3s linear;
}
.switch-label svg.moon-icon {
  right: 2px;
  fill: #7e7e7e;
  transition: .3s linear;
}

.switch-input:checked + .switch-label svg.sun-icon{
  fill: #7e7e7e;
}
.switch-input:checked + .switch-label svg.moon-icon{
  fill: #fff;
}