.about {
  padding: 100px 50px 0;
}

@media (max-width: 768px) {
  .about {
    padding: 100px 15px 0;
  }
}

.about__us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

@media (max-width: 1180px) {
  .about__us {
    grid-template-columns: minmax(250px, 1fr);
  }
}

.about__left-paragraph {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: var(--text-color);
  transition: .3s;
}

.about__left-paragraph:not(:last-child) {
  margin: 0 0 20px;
}

.about__right {
  justify-self: flex-end;
}

@media (max-width: 1180px) {
  .about__right {
    order: -1;
    justify-self: center;
    margin: 50px 0;
  }
}

@media (max-width: 425px) {
  .about__right {
    margin: 30px 0;
  }
}

.about__carousel {
  padding: 0 30px;
}

@media (max-width: 768px) {
  .about__carousel {
    padding: 0 10px;
  }
}

.about__right-carousel {
  position: relative;
  display: grid;
  grid-template-columns: minmax(200px, 600px);
  margin: 0 auto;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  padding: 20px 10px;
  background-color: var(--white-color);
  transition: .3s;
}

@media (max-width: 425px) {
  .about__right-carousel {
    padding: 10px;
    height: fit-content;
  }
}

.about__right-carousel::before {
  content: "";
  border: 2px solid transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: -20px;
  right: -20px;
  z-index: -1;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(var(--white-color)),
      to(var(--white-color))),
    radial-gradient(circle at top left, var(--yellow-color), var(--purple-color));
  background-image: -o-linear-gradient(var(--white-color), var(--white-color)),
    -o-radial-gradient(top left, circle, var(--yellow-color), var(--purple-color));
  background-image: linear-gradient(var(--white-color), var(--white-color)),
    radial-gradient(circle at top left, var(--yellow-color), var(--purple-color));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

@media (max-width: 425px) {
  .about__right-carousel::before {
    top: -15px;
  }
}

.about .carousel {
  position: static;
}

.about .carousel-button {
  position: absolute;
}

.about .button-prev {
  left: 5px;
}

.about .button-next {
  right: 5px;
}

@media(max-width: 426px) {
  .about .button-prev {
    left: -10px;
  }

  .about .button-next {
    right: -10px;
  }
}

.about__card {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: none;
  background-color: transparent;
  padding: 0 15px;
}

@media (max-width: 1244px) {
  .about__card {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .about__card {
    cursor: grab;
  }

  .about__card:active {
    cursor: grabbing;
  }
}

@media (max-width: 425px) {
  .about__card {
    padding: 0 5px;
  }
}

.card-size {
  max-width: 255px;
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 425px) {
  .card-size {
    height: fit-content;
  }
}

.about__card-body {
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  color: var(--text-color);
  transition: .3s;
}

.about__card-profession {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 20px;
}

@media (max-width: 425px) {
  .about__card-profession {
    font-size: 18px;
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 425px) {
  .about__card-name {
    font-size: 20px;
    margin: 10px 0;
  }
}

@media (max-width: 425px) {
  .about__card-text {
    font-size: 14px;
    margin: 0
  }
}

.about .carousel-btn {
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid var(--text-color);
  opacity: 1;
  transition: .3s;
  background-color: var(--white-color);
}

.about .carousel-btn path {
  stroke: var(--text-color);
}

.about .prev-btn {
  left: -26px;
}

.about .next-btn {
  right: -25px;
}