.feedback {
  position: relative;
}

.feedback .main__title {
  max-width: 1920px;
  padding: 100px 50px 0;
}

@media(max-width: 768px) {
  .feedback .main__title {
    padding: 135px 20px 0;
  }
}

.feedback-section {
  padding: 0 50px;
  background: linear-gradient(151.62deg, rgb(251, 180, 44) 30.896%, rgb(222, 115, 249) 81.545%);
}

@media(max-width: 768px) {
  .feedback-section {
    padding: 0;
  }
}

.feedback-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 7px var(--black-color);
}

.feedback-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  column-gap: 25px;
  padding: 30px 20px;
  position: relative;
  background-color: var(--gray-block);
  border-radius: 10px;
  margin: 0 10px;
  transition: .3s;
}

.feedback-post:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px var(--black-color);
}

@media(max-width: 425px) {
  .feedback-post {
    padding: 20px 10px;
  }
}

.feedback-image {
  max-width: 60px;
  width: 100%;
  height: 60px;
  border-radius: 50%;
  object-fit: contain;
  outline: 1px solid var(--text-color);
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: center;
  transition: .3s;
}

.feedback-info {
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 15px;
  margin: 0 0 10px;
}

.feedback-corner {
  position: absolute;
  bottom: -20px;
  left: 10%;
  fill: var(--gray-block);
}

.feedback-client {
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  margin: 0;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: .3s;
}

.feedback-client-contact {
  border-top: 1px solid var(--yellow-color);
  padding-top: 10px;
}

.feedback-client-info {
  display: flex;
  justify-content: space-between;
}

.client-name {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  transition: .3s;
}

.feedback-cite {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  transition: .3s;
}

.feedback-date {
  color: var(--text-color);
  transition: .3s;
}

.feedback .carousel__list {
  padding: 60px 0 100px;
}

.feedback .carousel-btn {
  position: absolute;
  right: 0;
  bottom: 20px;
  fill: var(--gray-block);
  border: 2px solid var(--white-color);
  background-color: transparent;
}

@media(max-width: 768px) {
  .feedback .carousel-btn {
    right: 10px;
  }
}

.feedback .carousel-btn path {
  stroke: var(--white-color);
}

.feedback .prev-btn {
  transform: translateX(-150%);
}