.footer {
  position: relative;
  background: #344848;
  margin: 60px 0 0;
  padding: 0 100px 20px;
}

@media (max-width: 1024px) {
  .footer {
    padding: 0 25px 20px;
  }
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 170px;
}

@media (max-width: 768px) {
  .footer__nav {
    flex-wrap: wrap;
    align-content: space-evenly;
  }
}

@media (max-width: 480px) {
  .footer__nav {
    flex-direction: column;
    min-height: 400px;
    justify-content: space-evenly;
  }
}

.footer__logo img {
  width: 130px;
  height: 50px;
  object-fit: contain;
}

.footer__list-menu {
  display: flex;
  justify-content: space-evenly;
  max-width: 755px;
  width: 100%;
}

@media (max-width: 768px) {
  .footer__list-menu {
    order: 1;
  }
}

@media (max-width: 480px) {
  .footer__list-menu {
    flex-direction: column;
    align-items: center;
  }
}

.footer__item-menu {
  position: relative;
}

.footer__item-menu:hover .footer__link-menu {
  color: var(--yellow-color);
}

.footer__item-menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--yellow-color);
  transform: scale(0);
  width: 100%;
  transition: transform 0.3s;
}

.footer__item-menu:hover::after {
  transform: scale(1);
  color: var(--yellow-color);
}

.footer__link-menu {
  display: block;
  color: var(--white-text-color);
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  font-size: 18px;
}

.footer__link-menu:hover {
  color: var(--white-text-color);
  text-decoration: none;
}

@media (max-width: 480px) {
  .footer .contacts-list {
    order: 1;
    margin: 0 0 30px;
  }
}

.footer-contacts-link {
  display: block;
  width: 25px;
  height: 25px;
}

.footer-contacts-link.mail-icon {
  width: 30px;
}

.footer-contacts-link:hover svg path,
.footer-contacts-link:hover svg polyline {
  stroke: var(--yellow-color);
}

.footer-contacts-link:hover .svg-mail-icon path {
  fill: var(--yellow-color)
}