@import url(./vendor/normalize.css);
@import url(./components/About/About.css);
@import url(./components/AboutWork/AboutWork.css);
@import url(./components/Accordion/Accordion.css);
@import url(./components/ContactsMessage/ContactsMessage.css);
@import url(./components/Feedback/Feedback.css);
@import url(./components/Form/Form.css);
@import url(./components/Footer/Footer.css);
@import url(./components/Header/Header.css);
@import url(./components/Navigation/Navigation.css);
@import url(./components/OurServices/OurServices.css);
@import url(./components/Popup/Popup.css);
@import url(./components/Portfolio/Portfolio.css);
@import url(./components/Price/Price.css);
@import url(./components/Privacy/Privacy.css);
@import url(./components/Questions/Questions.css);
@import url(./components/ScrollUp/ScrollUp.css);
@import url(./components/ToggleTheme/ToggleTheme.css);
@import url(./components/Preloader/Preloader.css);
@import url(./components/Carousel/Carousel.css);
@import url(./components/TemplatesInfo/TemplatesInfo.css);
@import url(./components/FormButton/FormButton.css);
@import url(./components/TemplatesExample/TemplatesExample.css);
@import url(./components/WhyWe/WhyWe.css);
@import url(./components/Rules/Rules.css);
@import url(./components/TemplatesForm/TemplatesForm.css);

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap");

:root {
  --white-text-color: #fff;
  --white-color: #fff;
  --white-to-black-color: #fff;
  --black-color: #000;
  --text-color: #000;
  --yellow-color: #fbb42c;
  --purple-color: #760592;
  --purple-to-yellow-color: #760592;
  --body_background-color: #fff;
  --block_background-color: #fff;
  --gray-block: #f5f5f5;
  --mobile-menu: #f5f5f5;
  --box-shadow: transparent;
  --placeholder-text-color: #c2abab;
}

[data-theme="dark"] {
  --body_background-color: #3C4042;
  --block_background-color: #606368;
  --white-color: #3C4042;
  --text-color: #fff;
  --gray-block: #606368;
  --mobile-menu: #495057;
  --box-shadow: #000;
  --white-to-black-color: #000;
  --placeholder-text-color: #939496;
  --purple-to-yellow-color: #fbb42c;
}

a:hover {
  text-decoration: none;
}

a:focus-visible {
  outline: none;
}

svg path,
svg polyline {
  transition: .3s;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow-color);
}

body {
  background-color: var(--body_background-color);
  transition: .3s;
}

.page {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 320px;
  margin: 0 auto;
}

.page-hidden {
  overflow: hidden;
}

section {
  position: relative;
  opacity: 0;
  top: 70px;
  transition: all 0.5s ease-out;
}

section.visible {
  opacity: 1;
  top: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.privacy {
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
  transition: .3s;
}

.privacy:hover {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.popup .privacy {
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
}

.popup .privacy:hover {
  border-bottom: 1px solid transparent;
}

.line {
  width: 100%;
  height: 130px;
  background-color: #344848;
  z-index: 1;
  position: relative;
}

.main__title {
  font-family: "Montserrat Alternates", "Roboto", sans-serif;
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto 50px;
  color: var(--text-color);
  text-shadow: 2px 3px 3px var(--box-shadow);
  transition: .3s;
}

.main__title span {
  display: inline-block;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .main__title {
    font-size: 30px;
    text-align: center;
    margin: 0 0 30px
  }
}

.carousel-button {
  display: block;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  opacity: 1;
  transition: 0.3s;
  background-color: var(--white-color);
  cursor: pointer;
  z-index: 1;
}

.carousel-button:hover {
  border: 2px solid var(--yellow-color);
  opacity: 1;
}

.nice-dev {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: var(--yellow-color);
  font-size: 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: fit-content;
}

.nice-dev:hover {
  text-shadow: 0 0 10px var(--white-color);
  color: var(--yellow-color);
  text-decoration: none;
}

.content-form {
  display: none;
  margin: 20px;
  -webkit-animation: feedback__form 0.5s;
  animation: feedback__form 0.5s;
  z-index: 100;
}

@keyframes feedback__form {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
  transition: 0s;
}

.feedback__form {
  display: block;
  background: #00000080;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 100;
}

.container-button,
.container-popup-button {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.container-popup-button {
  border-radius: 2px;
}

.circle-button {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .3);
  pointer-events: none;
  width: 150px;
  height: 150px;
  animation: scaleUp 1.5s ease;
}

@keyframes scaleUp {
  0% {
    opacity: .3;
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(10);
  }
}

/* carousel */
.carousel-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 0;
  opacity: 1;
  transition: .3s;
  z-index: 1;
}

.carousel-btn:hover {
  border: 2px solid var(--yellow-color);
}

.carousel-btn:hover path {
  stroke: var(--yellow-color);
}

.prev-btn svg {
  transform: rotate(180deg);
}

/* social-icons */
.telegram-icon {
  --animation-delay: 1s;
}

.whatsapp-icon {
  --animation-delay: 1.5s;
}

.mail-icon {
  --animation-delay: 2s;
}

.vkontakte-icon {
  --animation-delay: 2.5s;
}

.social-icon {
  display: block;
  width: 30px;
  height: 25px;
  animation: scale 1s;
  animation-delay: var(--animation-delay);
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}