.accordion-item {
  background-color: var(--body_background-color);
}
.accordion-item::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(45deg, var(--purple-color), var(--yellow-color), var(--yellow-color));
}

.accordion-item:last-child::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(45deg, var(--purple-color), var(--yellow-color), var(--yellow-color));
}

.accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 21px;
  font-size: calc(16px + (24 - 16) * (100vw - 425px) / (1200 - 425));
  line-height: 21px;
  line-height: calc(21px + (28 - 21) * (100vw - 320px) / (1200 - 320));
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  padding: 20px 20px 20px 0;
  background-color: var(--white-color);
  color: var(--text-color);
  border: none;
  translate: .3s;
}

.accordion-button:hover {
  color: var(--yellow-color);
}

@media (max-width: 425px) {
  .accordion-button {
    padding: 15px 0;
  }
}

.accordion-background {
  background: #f5f5f5;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-icon {
  margin-left: 10px;
  min-width: 40px;
  height: 40px;
  transition: 0.3s;
  stroke: var(--text-color);
}

@media (max-width: 425px) {
  .accordion-icon {
    min-width: 30px;
    height: 30px;
  }
}

.accordion-button:not(.collapsed) + .accordion-icon {
  transform: rotate(45deg);
}